<ion-header>
  <ion-toolbar>
    <!-- conditional chaining because the post is initially null -->
    <ion-title>{{post?.author}}</ion-title>
    <ion-buttons slot="start">
      <!-- Back button - if the page is refreshed and removes the history it goes to MASTER by default -->
      <ion-back-button defaultHref="/menu/master"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="post">
    <!-- if an image in the post object is not undefined show it -->
    <img *ngIf="post.largeImg" [src]="post.largeImg" alt="large" />

    <!-- otherwise, show the image that is linked in the environments -->
    <ion-item *ngIf="!post.largeImg">
      <img [src]="thumbsUp" alt="large" />
    </ion-item>
    <ion-header>
      <ion-card-title>{{post.title}}</ion-card-title>

      <ion-item>
        <ion-icon name="arrow-up-outline"></ion-icon>
        <ion-label>Post UpVote Ratio is - {{post.upvote}}</ion-label>
      </ion-item>
    </ion-header>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="goToLink()">Go To Link</ion-button>
</ion-footer>
