.message {
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  white-space: pre-wrap;
}

.bot-message {
  background: var(--ion-color-tertiary);
  color: #fff;
}

.user-message {
  background: var(--ion-color-secondary);
  color: #fff;
}

.time {
  color: lightgray;
  float: right;
  font-size: small;
}
.msg-btn {
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;
}

.message-input {
  color: black;
  width: 100%;
  border: 1px solid var(--ion-color-medium);
  border-radius: 1rem;
  background: #fff;
  resize: none;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
