<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Reddit r/Image </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let post of posts" [routerLink]="[post.name]">
      <ion-avatar slot="start">
        <img [src]="post.thumb" alt="" />
      </ion-avatar>
      <ion-label>
        {{post.title}}
        <p>{{post.author}}</p>
      </ion-label>

      <ion-badge>{{post.upvote}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
